<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <h1>{{title}}</h1>
        <ul>
            {{#each api}}
            <li><a href="{{{url}}}">{{name}}</a></li>
            {{/each}}   
        </ul>

        <h1>SQL Injection Tests</h1>
        <ul>
            {{#each injections}}
            <li><a href="{{{url}}}">{{name}}</a></li>
            {{/each}}   
        </ul>
    </body>
</html>
